main{
	background: rgb(39, 43, 51);
}

#content{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	padding: 10px;
	width: 100%;
}

.item{
	background: rgb(60, 62, 68);
	color: rgb(245, 245, 245);	
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 5px;
	gap: 10px;
	width: 100%;
	border-radius: 0.5rem;
	overflow:  hidden;
}

.item img{
	width: 229px;
	height: 220px;
}

.item .title{
	color: rgb(158, 158, 158);
	margin-top: 20px;
}